$color1: #D42B2F; /*flash*/
$color2: limegreen; /*claro*/
$color3: slateblue; /*backgrounds*/
$color4: #EAE1B9; /*claro*/
$color5: #FBBE54; /*text*/
$color6: #FFFFFF; /*blanco*/

$green: #5bc662;
$grey:#ADB6BD;
$grey2:grey;
$lightGrey:#F7F9FA;
