@import './colors';
@import './scrollbar';
@import './table';
@import './fonts';

html, body{
	background-color:$color3;
	color:$color5;
}


.SelectKeyDescription:hover,.SelectKeyDescription:active,.SelectKeyDescription:focus{
	text-decoration: none!important;
	box-shadow: none!important;
	outline:1px solid grey!important;
	border-radius: 0px;
}
.SelectKeyDescription[disabled]:hover,.SelectKeyDescription[disabled]:active,.SelectKeyDescription[disabled]:focus{
	outline:0px!important;
}