@import './colors';
@import './scrollbar';
@import './table';
@import './fonts';

html, body{
	background-color:$color3;
}

@font-face {
    font-family: 'love_ya_like_a_sisterregular';
    src: url('~assets/fonts/loveyalikeasister-webfont.woff2') format('woff2'),
         url('~assets/fonts/loveyalikeasister-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}